/* CSS des pages */

html {
	background-color: white;
	border: solid 1.5px black;
}

h1 {
	border: solid 1px black;
	margin-bottom: 8px;
	margin-top: 5px;
	background-color: #FFFCE9;
    text-align: center;
	font-size: 54px;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.2s ease-in-out; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

h1:hover {
	transform: scale(1.1);
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    margin-left: -2px;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.menu {
    justify-content: space-around; 
    align-items: center; 
	border: solid 1px black ;
	border-bottom: solid 0px white;	
	font-family: sans-serif;
	font-weight: bold;
	position: fixed;
    top: calc(80px); 
    width: 100%;
    z-index: 1;
    font-family: "Reem Kufi Fun", sans-serif;
    font-weight: 600;
    font-style: normal; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

.menu .navbar-nav .nav-link {
    color: black;
}
    
.navbar {
    height: 34px;  
}

.menu .container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-color: #FFFEF9;

}

.menu a {
    font-size: 18px;
    transition: transform 0.2s ease-in-out; 
}

.menu a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.navbar {
    background-color: white !important; 
}

#entete {   
    padding-top: 116px;
    position: sticky;
    top: 0;
    height: 0px; 
    z-index: 1; 
    background-color: black;  
}


/* CSS pour la page recherche */

#body_recherche{
    margin: 0;
    margin-left: -px;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#h1_recherche{
	 margin-left: -2px;
	 border-left: solid 2px black;
}

#menu_recherche{
    margin-left: -2px;
    border-left: solid 2px black;
}

.boite_recherche{
	margin: 2%;
	background-color: #FFFEF9;
	width: 96%;
	border-radius: 25px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    border: solid 0.1rem black;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    border-radius: 25px;
    min-height: 80vh;
}

.topBar{
	margin-bottom: 1%;
	display: flex;
	text-align: center;
}

#search{
	margin-top: 1%;
	width: 90%;
	border-radius: 15px;
	padding-left: 2%;
}

.navbar.navbar-light.bg-light.rounded-pill.col-lg-12 {
    height: auto;
}

.container-fluid.recherche {
    padding-left: 5%;
}

#dropdownMenuLink{
    margin-left: 10%;
    background-color: #FFFCE9;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
}

.filters{
    margin-top: -3.3%;
    margin-left: 80%;
    margin-right: 0%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    
}

.filters > * {
    margin-right: 10px; 
}

#activeFilters{
    margin-left: 6%;
    margin-top: 2%;
}

.contenu {
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: calc(100%); 
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
}

.minibio{
    padding-left: 2%;
    margin-right: 4%;
    max-height: 15vh;
    overflow-y: hidden;
    position: relative;
}

.minibio:after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
}

.minibio.truncated:after {
    display: block;
    bottom: 0;
    right: 0;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100.16%; 
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
    font-style: normal;

}

.filters {
    padding-left: 5%;
    display: inline-block;
    width: 100%;
}

#activeFilters {
    width: 50%;
    text-align: left;
    margin-right: 5%;
}

.FiltreCroix {
    display: inline-block;
    margin-right: 2%;
}

.FiltreCroix p, .FiltreCroix span {
    display: inline-block;
}

#sousFiltre {
    display: inline-block;

    padding-top: 2%;
}
    
.sousFiltre {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}


.close-icon {
    position: relative;
    display: block;
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

.close-icon::before,
.close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: red; 
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.titre_recherche {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.titre_recherche:hover {
    text-decoration: underline;
}

.minibio {
    padding-left: 2%;
    margin-right: 4%;
    max-height: 18vh;
    overflow-y: hidden;
    position: relative;
    margin-bottom: 2%;
}


.minibio:after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
}

.minibio.truncated:after {
    display: block;
    bottom: 0;
    right: 0;
}





/* CSS pour la page d'accueil */

.prev,
.next {
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    padding: 10px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
    border:none;
}

.prev:hover{
    transform: scale(1.05); 
    transform-origin: left;
    background-color: rgba(255, 255, 255, 0.8);
}

.next:hover {
    transform: scale(1.05); 
    transform-origin: right;
    background-color: rgba(255, 255, 255, 0.8);
}

.prev {
    position: absolute;
    left: -2%;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    padding-right: 12px;
    padding-left: 20px;
}

.next {
    position: absolute;
    right: 1px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    padding-left: 12px;
    padding-right: 20px;
}

.boite_index {   
    background-color: #FFFEF9;
    position: fixed;
    height: 73%;
    width: 75%;
    border-radius: 25px;
    top: 59%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
}

.transition-effect {
    transition: opacity 6s ease; 
}

.image-selector {
    text-align: center;
    position: absolute;
    bottom: 0px; 
    left: 51%;
    transform: translateX(-50%);
    z-index: 2; 
}

.selector-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 5px; 
    background-color: white;
    cursor: pointer;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.selector-dot:hover {
    width: 18px;
    height: 18px;
}


/* CSS pour les articles sur la page d'accueil */

.menu-article {
    justify-content: space-around; 
    align-items: center; 
	 border: solid 1px black ;	
	 font-family: sans-serif;
	 font-weight: bold;
	 position: fixed;
    top: calc(80px); 
    width: 100%;
    z-index: 1;
}
        
.boite_article {
    margin: 2% auto; 
    background-color: #FFFEF9;
    width: 96%;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    padding-top: 10px; 
}

.contenu_article {
	 padding-right: 3%;
	 padding-left: 3%;
	 padding-bottom: 10px;
}

.titre_article {
	 font-size: 30px;
	 text-decoration: underline;
	 text-align: center;
	 padding-top: 10px;
	 padding-bottom: 15px;
	 font-weight: bold;
}

.sous_titre_article {
	 font-size: 24px;
	 text-align: left;
	 font-weight: bold;
}

.p_article {
	 text-align: justify;
}


/* CSS pour la page graphique */

.boite_graphique {
    border: solid 0.1rem black;
    margin: 2%;
    background-color: #FFFEF9;
    width: 96%;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    border-radius: 25px;
    min-height: 80vh;
    padding-bottom: 60px;
}

#titre_grap{
    text-align: center;
    padding-top: 2%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-bottom: 2%;
}

#boutton_graph {
    background-color: #FFFCE9;
    color: black;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    font-family: "PT Sans", sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
   
}

#boutton_graph:hover{
    background-color: #fff7d1;;
}

#titre_graph{
    text-align: center;
}


.boite_graphiques {
    margin: 2% auto; 
    background-color: #FFFEF9;
    width: 96%;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    padding-top: 10px; 
    min-height: 100vh;
}

.titre_graphique_prefait {
	 padding-top: 20px;
	 padding-bottom: 20px;
	 text-align: center;
	 font-weight: bold;
	 font-size: 20px;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	 font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
}

#lien-graph {
	 font-size: 22px;
	 text-decoration: none;
	 color: black;
	 padding-top: 40px;
	 padding-bottom: 20px;
	 text-align: center;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	 font-family: "PT Sans", sans-serif;
	 display: block;
	 font-weight: 600;
}
.deroule{
    overflow-y: auto;
    max-height: 200px;
}
.btnVar{
    display: none;
    margin-top: 5%;
    margin-right: 1%;
}

.btn.btn-warning.btnVar {
    background-color: #FFFEF9;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    
}

.btn.btn-warning.btnVar:hover {
    background-color: #c6c6c6;
}
.titreVariables{
    padding-top: 3%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "PT Sans", sans-serif;
    display: none;
    font-weight: bold;
}
#menuG{
    margin-left: 3%;
    margin-top: 1%;
}


.contenu_graphe {
    display: flex;
    justify-content: space-between; 
    margin-top: 5%;
    padding-bottom: 2%;
}

#activeVar {
    display: inline-block;
    margin-left: 2%;
    margin-right: 100px; 
    border: solid black 1px;
    padding: 2%;
    height: auto;
    width: 300px; 
}

.activeVar{
    display: block;
    text-align: left;
}

#divGraphiques{
    flex-grow: 1;
}

.activeVar.activeGraph {
    margin-bottom: 10px;
    font-size: 17px;
}


#varSelect{
    font-size: 20px;
    margin-bottom: 15px;
    font-family: "PT Sans", sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-decoration: underline;
    text-align: center;

}

#varY{
    margin-left: 2%;
    padding-left: 2%;
}
#varX{
    margin-left: 2%;

}

.selected-option {
    border: 2px solid black;
    background-color: #FFFCE9;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    border-radius: 25px;
    padding-bottom: 2%;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin-right: 2%;
    margin-top: 1%;
}



#deuxieme_row{
    padding-top: 100px;
    margin-right: 20px;
}



/* CSS pour les pages connexion / inscription / déconnexion */

.boite_connexion {
    background-color: #FFFEF9;
    position: fixed;
    height: 65%;
    width: 40%;
    border-radius: 25px;
    top: 58%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
}

.titre-connexion {
    text-align: center;
	padding-top: 70px;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.custom-input {
    max-width: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
}

#inscription {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#formu {
	padding-top: 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-link .status-indicator {
	 margin-left: 5px;
	 width: 10px;
	 height: 10px;
	 border-radius: 50%;
	 display: inline-block;
}

.status-indicator.connected {
	 background-color: green;
	 border:solid 1px black;
	 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.status-indicator.disconnected {
	 background-color: red;
	 border:solid 1px black;
	 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#titre-co {
	 padding-top: 120px;
	 text-align: center;
	 font-weight: bold;
	 font-size: 36px;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#deja-connecte {
	 text-align: center;
	 padding-top: 20px;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#bouton-co:hover{
    transform: scale(1.05); 
}

#bouton-ins:hover{
    transform: scale(1.05); 
}

#se-deconnecter {
	 text-align: center;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* CSS pour les pages d'articles */

.boite-wikipedia {
    border: solid 0.1rem black;
    margin: 2%;
    background-color: #FFFEF9;
    width: 96%;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.4);
    border-radius: 25px;
    min-height: 80vh;
}

.biography-heading:not(:first-of-type) {
    margin-top: 20px;
}

.biography-heading {
	 font-size: 20px;
}

.contenu-nobel-wikipedia {
    counter-reset: titre1 titre2 titre3;
    min-height: calc(100vh - 20px);
    padding: 20px;
}

.biographie-titre1:before {
    content: counter(titre1) ". ";
    counter-increment: titre1;
    margin-left: 10px; 
    font-size: 26px;
}

.biographie-titre2:before {
    content: counter(titre1) "." counter(titre2) ". ";
    counter-increment: titre2;
    margin-left: 20px; 
    font-size: 22px; 
}

.biographie-titre3:before {
    content: counter(titre1) "." counter(titre2) "." counter(titre3) ". ";
    counter-increment: titre3;
    margin-left: 30px; 
    font-size: 18px; 
}

.menu-wiki {
    justify-content: space-around; 
    align-items: center; 
	 border: solid 1px black ;	
	 font-family: sans-serif;
	 font-weight: bold;
	 position: fixed;
    top: calc(80px); 
    width: 99%;
    z-index: 1;
}

#reco {
	 display: flex;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#titre_sim {
	 font-size: 24px;
	 text-align: center;
	 margin-left: -2%;
	 padding-bottom: 10px;
	 padding-top: 10px;
	 margin-left: -30px;
	 font-weight: bold;
}

#liste_sim {
    display: flex; 
    list-style-type: none; 
    padding: 0;
    justify-content: space-between;
}

#liste_sim li {
    margin-right: 20px;
}

#reco_sim {
    padding-left: 25px;
    border: solid 0.1rem black;
    margin: 2%;
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: calc(50% - 2% - 15px); 
    background-color: white;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.8);
    border-radius: 25px;
}

#reco_uti {
    padding-left: 25px;
    border: solid 0.1rem black;
    margin: 2%;
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: calc(50% - 2% - 15px); 
    background-color: white;
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.8);
    border-radius: 25px;
    margin-left: auto; 
}

#titre_reco{
	 text-decoration: none;
    color: black;
}

#reco_sim li {
    transition: transform 0.2s ease-in-out;
}

#reco_sim li:hover {
    transform: scale(1.1);
}
   
#reco_uti li {
    transition: transform 0.2s ease-in-out;
}

#reco_uti li:hover {
    transform: scale(1.1);
}
 
.info-bulle {
    position: relative;
    display: inline-block;
}

.info-bulle::after {
    content: attr(title);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    bottom: 100%;
    font-size: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    margin-bottom: 10px;
}

.info-bulle:hover::after {
    opacity: 1;
}

#body_wiki{
    margin: 0;
    margin-left: -px;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#h1_wiki{
	 margin-left: -2px;
	 border-left: solid 2px black;
}

#menu_wiki{
    margin-left: -2px;
    border-left: solid 2px black;
}

#image-preview-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#preview-image {
    max-width: 80%;
    max-height: 80vh; 
    min-width: 200px; 
    min-height: 200px; 
    display: block;
    margin: 0 auto;
}

#close-preview {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#image_wiki {
    transition: transform 0.2s ease-in-out;
}

#image_wiki:hover {
    transform: scale(1.03);
}

