html{
	background-color: ;
	border: solid 1.5px black;
}

h1{
	
	border: solid 1px black;
	margin-bottom: 8px;
	margin-top: 7px;
	background-color: ;
	text-align: center;
	font-size: 54px;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}




body{

    margin: 0;
    margin-left: -1px;
  
}



.menu {
   justify-content: space-around; 
   align-items: center; 
	border: solid 1px black ;
	border-bottom: solid 0px white;	
	font-family: sans-serif;
	font-weight: bold;
	position: fixed;
   top: calc(80px); 
   width: 100%;
   z-index: 1;

   
}

.menu .navbar-nav .nav-link {
        color: black;
        
    }
.navbar {
    height: 40px; 
}


.menu .container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.menu a:hover {
   text-decoration: underline; 
}

.navbar {
        background-color: white !important;
    }

#entete {
   
    background-color: white;
    padding-top: 120px;
    position: sticky;
    top: 0;
    height: 0px; 
    z-index: 1; 
}


p{
	
}
.boite{
	border: solid 0.1rem black;
	margin: 2%;
	background-color: whitesmoke;
	position: fixed;
	height: 75%;
	width: 96%;
	border-radius: 25px;
}
.topBar{
	margin-bottom: 1%;
	display: flex;
	text-align: center;
}
#search{
	margin-top: 1%;
	width: 90%;
	border-radius: 15px;
	padding-left: 2%;
}
.navbar.navbar-light.bg-light.rounded-pill.col-lg-12{
    height: auto;
}
.container-fluid.recherche{
    padding-left: 5%;
}
.dropdown{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1.5%;
	height: 10%;
	display: inline-block;
}

.contenu {
    display: block;
    text-align: left;
    justify-content: center;
    align-items: center;
    height: calc(100%); 
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100.22%; 
}
.filters{
    padding-left: 5%;
    display: inline-block;
}
#activeFilters{
    width: 50%;
    text-align: left;
    margin-right: 5%;
}
.FiltreCroix{
    display: inline-block;
    margin-right: 2%;
}
.FiltreCroix p, .FiltreCroix span{
    display: inline-block;
}
#sousFiltre{
    display: inline-block;
}
.close-icon {
    position: relative;
    display: block;
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

.close-icon::before,
.close-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 2px;
    background-color: red; 
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}



.prev,
.next {
    cursor: pointer;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    
    outline: none;
    padding: 10px;
    z-index: 1;
    border: solid 0.1rem black;
}

.prev:hover,
.next:hover {

    background-color: rgba(255, 255, 255, 1);
}

.prev {
    position: absolute;
    left: -1px;
}

.next {
    position: absolute;
    right: 1px;
}



.boite_index {
    border: solid 0.1rem black;
    background-color: #F0EFEE;
    position: fixed;
    height: 75%;
    width: 80%;
    border-radius: 25px;
    top: 58%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.image-title {
    text-align: center; 
    font-weight: bold; 
    font-size: 30px; 
    margin-top: 0px;
}



#footer_commentaires {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 0;
    text-decoration: underline;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.transition-effect {
    transition: opacity 6s ease; 
}

.image-selector {
    text-align: center;
    position: absolute;
    bottom: 10px; 
    left: 51%;
    transform: translateX(-50%);
    z-index: 2; 
}

.selector-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 5px; 
    background-color: white;
    border: 1px solid black; 
    cursor: pointer;
}

.menu-article{
   justify-content: space-around; 
   align-items: center; 
	border: solid 1px black ;	
	font-family: sans-serif;
	font-weight: bold;
	position: fixed;
   top: calc(80px); 
   width: 100%;
   z-index: 1;

   
}
        
.boite_article {
    border: solid 0.1rem black;
    background-color: whitesmoke;
    height: 75%;
    width: 96%;
    border-radius: 25px;
    margin: auto; 
    margin-top: 1%; 
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contenu_article{
	padding-right: 3%;
	padding-left: 3%;
}

.titre_article{
	text-align: center;
}

.sous_titre_article{

}

.p_article{
	text-align: justify;
}

.contenu_graphe{
	display: block;
	justify-content: center;
	height: 50%;
	margin: 1%;
}

#graphs{
	display: block;
	justify-content: center;
	width: 80%;
	height: 400px !important;
	
	
}

.boite_connexion {
    border: solid 0.1rem black;
    background-color: whitesmoke;
    position: fixed;
    height: 65%;
    width: 40%;
    border-radius: 25px;
    top: 58%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.titre-connexion{
	text-align: center;
	padding-top: 70px;
	font-weight: bold;
}

.custom-input {
    max-width: 300px; 
}

#inscription{
	text-align: center;
}
#formu{
	padding-top: 20px;
}

.nav-link .status-indicator {
	margin-left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
}
.status-indicator.connected {
	background-color: green;
}
.status-indicator.disconnected {
	background-color: red;
}

#titre-co{
	padding-top: 120px;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	
}
#deja-connecte{
	text-align: center;
	padding-top: 20px;
}
#se-deconnecter{
	text-align: center;
}


/* CSS pour les pages d'articles */
.contenu-nobel {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}
.contenu-nobel p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}
.contenu-nobel .titre {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}
.contenu-nobel .sous-titre {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #555;
}
.contenu-nobel .organisation {
    font-style: italic;
    color: #888;
}


